<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'index' %}">HollyMovies</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies' %}">
                        Movies
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Odhlášení</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Register
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>